.nav {
    display: flex;
    // position: sticky;
    // top: 0;
    z-index: 2;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    // margin: 0;
    // border-end-end-radius: 10px;
    // border-end-start-radius: 10px;
    padding: 1rem;
    min-height: 5vh;
    background: rgb(52, 58, 241);
    background: radial-gradient(circle, rgb(1, 1, 20) 0%, rgb(15, 12, 28) 100%);
    opacity: 0.98 !important;
    box-shadow: rgba(0, 200, 255, 0.25) 0px 25px 50px ;

    .nav__1{
        display: flex;
        text-align: center;
        align-items: center;
        // border: 2px solid rgba(130, 113, 113, 0.701);
        // border-radius: 10px;
        gap: 1rem;
        padding:1rem;
        
    }

    .nav__brand{
        background-color: rgba(0, 0, 5, 0.329);
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 5px inset, rgba(0, 0, 0, 0.3) 0px 0px 5px  inset;
        &:hover{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 7px inset, rgba(0, 0, 0, 0.3) 0px 0px 7px  inset;
        }
        a{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            text-decoration: none;
            color: black;
        }
        img{
            width: 50px;
            border-radius: 50%;
        }     
    }
    // .nav__ijtimoiy{
        // background-color: rgba(210, 30, 30, 0.406);
    //     padding: 10rem;
    // }
    .nav__ijtimoiy{
        a{
            svg{
                width: 24px;
                height: 24px;
                border-radius: 50%;
                box-shadow: 0 0 4px white;
                background-color: white;
                &:hover{
                    background-color: rgb(255, 221, 0);
                    box-shadow: 0 0 10px rgb(255, 221, 0);
                }
            }
        }
    }
    .nav__header{
        gap: 4rem;   
        a{
            position: relative;
            text-decoration: none ;
            font-size: 24px;
            color: rgb(255, 255, 255);
            font-weight: 200;
            span{
                position: absolute;
                width: 0%;
                height: 1px;
                background-color: rgb(255, 255, 255);
                left: 0;
                bottom: 0;
                transition: all 0.2s ease-in-out;
            }
            &:hover{
                span{
               width: 100%;
               right: 0;
            }
        }
        }
    }
}

.dropdown{
    position: relative;
    display: inline-block !important;
    // transition: all 7s linear;
    &:hover{
        .dropdown__content{
            display: block;
        }
    }
    .dropdown__content{
        position: absolute;
        list-style: none;
        display: none;
        min-width: max-content;
        background-color: rgb(7, 9, 37);
        padding: 1rem;
        z-index: 1;
        text-align: left;
        a{
            // color: white;
            display: block;
            font-size: 20px;
            color: rgb(255, 255, 255);
            font-weight: 100;
            &:hover{
                color: rgb(255, 170, 0);
            }
        }
    }
}

.ul{
}
// @media screen and (max-width:600px){
//     .nav{
//         .nav__header{
//             display: none;
//         }
//     }
// }



//media

@media screen and (max-width:1220px){
    .nav{
        .nav__ijtimoiy{
            display: none;
        }
        .dropdown__content{
            right: 0;
            min-width: max-content;
        }
    }
}

@media screen and (max-width:1074px){
    .nav{
        .nav__header{
            gap: 1rem;
        }
    }
}
@media screen and (max-width:883px){
    .nav{
        .nav__ijtimoiy{
            display: none;
        }
    }
}
@media screen and (max-width:815px){
    .nav{
        .nav__brand{
            a{
                h1{
                    font-size: 20px;
                }
                // display: block;
                font-size: 20px !important;
            }
        }
        .nav__header{
            a{

                font-size: 20px !important;
            }
        }
    }
}
@media screen and (max-width:760px){
    .nav{
        .nav__header{
            gap: 0.5rem;
            a{
                font-size: 18px !important;
            }
        }
    }
}
@media screen and (max-width:620px){
    .nav{
        .nav__brand{
            a{
                img{
                    width: 40px;
                }
                h1{
                    font-size: 20px;
                }
                font-size: 18px !important;
            }
        }
    }
}